<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="style.css">
  </head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>My Social</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
	        <a id="myprofile">My Profile</a>
        </li>
        <li class="active">
	        <a id="friends">Friends</a>
        </li>
      </ul><br>
    </div>
  </div>
</div>

<div class="contenitore"></div>

<script>
	$(document).ready(function(){
		
	    $("#myprofile").click(function(){
	    	$.ajax({url:"http://localhost:8080/FakeSocialTest/MyServlet?cmd=myprofile",
	    			success:function(result){ $(".contenitore").html(result);}});
	    });
	    $("#friends").click(function(){
	    	$.ajax({url:"http://localhost:8080/FakeSocialTest/MyServlet?cmd=friends",
	    			success:function(result){ $(".contenitore").html(result);}});
	    });
	});
</script>
</body>
</html>
